* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.App {
  /* background-color: red; */
  margin: 1rem auto;
  max-width: 350px;
  min-width: 275px;
  border: 1px solid rgb(136, 134, 134);
}
.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  color: black;
}
.navbar button {
  background: none;
  border: none;
  text-decoration: underline;
}
.navbar button:hover {
  cursor: pointer;
}
.auth{
  text-align: center;
  padding: 1rem 0;
}
.auth h2 {
  font-size: 18px;
}
.auth h3 {
  margin-top: 1rem;
  margin-bottom: -.5rem;
}
.authForm {
  padding: 1rem 0;
}
.authForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authForm form input {
  margin: 1rem 0;
  width: 75%;
  padding: .5rem;
  border-radius: 5px;
}
.mainBtns {
  padding: .3rem 1rem;
  border-radius: 5px;
  border: none;
  color: white;
}
.mainBtns:hover {
  cursor: pointer;
  border: 1px solid black;
}
.loginPrompt {
  color:rgb(0, 0, 253);
  width: fit-content;
  margin: 0 auto;
}
.loginPrompt:hover {
  cursor: pointer;
  text-decoration: underline;
}
.errorText {
  padding: .5rem 0;
  color: red;
}
.profile {
  text-align: center;
}
.profile > h3, .profile > h4 {
  padding-bottom: 1rem;
}
.profile > h3 {
  font-size: 18px;
}
.hackForm, .commentForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 .5rem 1rem .5rem;
  padding: 1.5rem 0;
  border: 1px solid grey;
}
.hackForm input, .commentForm input {
  height: 2rem;
  width: 90%;
  margin-bottom: 1rem;
}
.hackForm select {
  margin-bottom: 1rem;
  width: 50%;
}
.hackForm button {
  margin-bottom: 1rem;
}
.eachHack {
  border: 1px solid grey;
  margin: 1rem .5rem;
  margin-top: 0;
  padding: .5rem;
}
.eachHack > h3 {
  padding-bottom: .5rem;
}
.eachHack p {
  margin-bottom: .8rem;
}
.eachHack button {
  margin: .3rem;
}
#description {
  font-weight: 500;
  color:rgb(105, 51, 13)
}
span {
  font-weight: 500;
}
.hackStats {
  font-size: 14px;
}
.deletePrompt {
  color: red;
  font-size: 15px;
  padding: .5rem;
  border-radius: 5px;
  width:fit-content;
  margin: .5rem auto;
}
.deletePrompt:hover {
  cursor: pointer;
  background-color: rgba(235, 235, 235, 0.417);
  border: 1px solid black;
}
.comments {
  border: 1px solid rgba(75, 75, 75, 0.745);
  margin: .5rem 0;
  padding: .5rem;
}
.comments > h3 {
  padding-bottom: .5rem;
}

.public {
  text-align: center;
}
.public > h2, .public > p {
  margin-bottom: .7rem;
}
.votePrompt {
  font-size: 14px;
  color: blue;
}
#editBtn {
  background-color: #132237;
}
#deleteBtn {
  background-color: #1f376a;
}
#showCommentsBtn {
  background-color: #c19d43;
}
#postCommentsBtn {
  background-color: #3a73b3;
}
#submitBtn {
  background-color: #9d1f03;
}
#upvote {
  background-color: #1f376a;
}
#downvote {
  background-color: #132237;
}
.filterForm {
  margin-bottom: 1rem;
}
span {
  font-weight: bold;
}
@media only screen and (min-width: 350px) {
  * {
    font-size: 18px;
  }
  .App {
    max-width: 750px;
    box-shadow: 0px 0px 10px 5px rgba(79, 79, 79, 0.553);

  }
  .deletePrompt {
    width:fit-content;
  }
  .comments {
    margin: 1rem 0;
  }
  .navbar a, .navbar button {
    color: rgb(13, 13, 199);
  }
  .hackStats {
    font-size: 16px;
  }
  .mainBtns {
    padding: .2rem .3rem;
    font-size: 16px;
  }
}