* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #FF9677;
}
.App {
  min-width: 200px;
  max-width: 350px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
}
.header {
  background-color: #974063;
  text-align: center;
  height: 50px;
  font-size: 18px;
  border-bottom: 1px solid white;
}
nav {
  display: flex;
  padding-top: 15px;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
}
.home, .city, .about {
  text-align: center;
  padding-top: 10px;
  background-color: #41436A;
  text-shadow: 1px 1px 2px black;
}
.homeTitle {
  margin-bottom: 20px;
}
form {
  margin-bottom: 20px;
}
input {
  width: 60%;
  text-indent: 10px;
  padding: 5px 0;
  border-radius: 25px;
  border: none;
}
.submitBtn {
  margin-top: 15px;
  width: 15%;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #974063;
}
.submitBtn:hover {
  cursor: pointer;
}
.homeWeatherDisplay {
  padding-top: 20px;
  border-top: 1px solid white;
  line-height: 2rem;
  padding-bottom: 20px;
}
.homeLocalTime {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.weatherImg {
  border: 1px solid white;
  border-radius: 5px;
  width: 25%;
  margin: 1rem auto;
}
.city {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 22.5px;
}
.city * {
  border-bottom: .5px solid #ffffff80;
  padding-bottom: 2px;
}
.cityFullGrid {
  grid-column: 1 / 3;
}
span {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.about {
  height: 570px;
  line-height: 2.5rem;
}
ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 15px;
  border-top: 1px solid white;
  background-color: #974063;
  padding-bottom: 2px;
}

@media only screen and (min-width: 350px) {
  .App {
    max-width: 900px;
  }
  .header {
    font-size: 22px;
  }
  .home, .city, .about {
    font-size: 22px;
  }
  .homeWeatherDisplay {
    line-height: 2.5rem;
  }
}