body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  background-image: url('plane pic.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.header > h1 {
  text-align: center;
}

.travelForm {
text-align: center;
}

form > input {
  margin: 5px 2px;
  border: 1px solid black;
}

form > button {
  margin: 5px;
  padding: 0 10px;
}
